.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-200);
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 24px;
  font-weight: 600;
  padding: 12px 32px;
  background-color: transparent;
  border: none;
  transition: color 0.2s linear;
  cursor: pointer;
}

.btn:hover {
  color: var(--primary-400);
}

.btnIcon {
  width: 24px;
  height: 24px;
}
