:root {
  --gray-30: #8e95a9;
  --gray-50: #ebeef5;
  --gray-600: #475069;
  --gray-200: #a8aebf;
  --gray-700: #323b54;
  --gray-900: #121829;
  --primary-400: #7b6ef6;
  --black-10: #0000001a;
  --white: #ffffff;
  --ff: "Poppins", sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  margin: 0;
  font-family: var(--ff);
  box-sizing: border-box;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}
